/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
  color: #0f172a;
  font-family: system-ui, sans-serif;
}

h1, h2, h3 {
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: square;
}
